/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&lt {
    tapping-term-ms = <400>;
};

&mt {
    tapping-term-ms = <400>;
    flavor = "tap-preferred";
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp Q  &kp W           &kp F        &kp P           &kp B        &none         &none         &kp J         &kp L           &kp U        &kp Y           &kp SEMICOLON
&kp A  &mt LEFT_ALT R  &mt LCTRL S  &mt LGUI T      &kp G        &kp ESCAPE    &kp RETURN    &kp M         &mt LGUI N      &mt LCTRL E  &mt LEFT_ALT I  &kp O
&kp Z  &kp X           &kp C        &kp D           &kp V        &none         &none         &kp K         &kp H           &kp COMMA    &kp PERIOD      &kp SLASH
                                    &kp LEFT_SHIFT  &lt 1 SPACE  &lt 3 TAB     &lt 4 DELETE  &lt 2 DELETE  &kp LEFT_SHIFT
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &none  &none         &none      &none          &none     &none   &none     &none     &none         &none            &none
&none  &none  &kp LEFT_ALT  &kp LCTRL  &kp LEFT_META  &none     &none   &kp LEFT  &kp DOWN  &kp UP_ARROW  &kp RIGHT_ARROW  &none
&none  &none  &none         &none      &none          &none     &none   &none     &none     &none         &none            &none
                            &trans     &trans         &trans    &trans  &trans    &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp PERCENT    &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp PLUS        &none   &none          &none      &none         &none  &none
&none  &kp SLASH      &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS       &none   &kp LEFT_META  &kp LCTRL  &kp LEFT_ALT  &none  &none
&none  &kp LS(TILDE)  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp ASTERISK    &none   &none          &none      &none         &none  &none
                                    &trans        &trans        &kp NUMBER_0    &trans  &trans         &trans
            >;
        };

        layer_3 {
            bindings = <
&none  &none  &none         &none      &none          &none     &kp F12  &kp F7  &kp F8  &kp F9  &none  &none
&none  &none  &kp LEFT_ALT  &kp LCTRL  &kp LEFT_META  &none     &kp F10  &kp F4  &kp F5  &kp F6  &none  &none
&none  &none  &none         &none      &none          &none     &kp F10  &kp F1  &kp F2  &kp F3  &none  &none
                            &trans     &trans         &trans    &trans   &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&kp TILDE         &kp PIPE              &kp AMPERSAND    &kp GRAVE             &kp LS(SQT)            &kp DOUBLE_QUOTES    &none   &none          &none      &none         &none  &none
&kp AT_SIGN       &kp LEFT_BRACE        &kp RIGHT_BRACE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp ASTERISK         &none   &kp LEFT_META  &kp LCTRL  &kp LEFT_ALT  &none  &none
&kp LS(NUMBER_3)  &kp NON_US_BACKSLASH  &kp SLASH        &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp DOLLAR           &none   &none          &none      &none         &none  &none
                                                         &trans                &trans                 &trans               &trans  &trans         &trans
            >;
        };
    };
};
